
@{
    ViewBag.Title = "Education";
}

<div class="card" style="padding:30px">
    <div class="card-body">
        <p><b>Bachelor of Computer Science:</b> American International University,Dhaka,Bangladesh</p>
        <p>
            <b>Higher Secondary Education:</b>Chattogram City Corporation Kaisar-Nilufar College,Bangladesh
        </p>
        <p>
            <b>High School Education:</b> Lamabazar A.A.S City corporation Boys High School,Bangladesh
        </p>
    </div>
</div>


