
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>
<ul class="list-group">
    <li class="list-group-item">
        Advance Web Designing: Onlineshopping Website-Eflip
    </li>
    <li class="list-group-item">
        Web Designing: Restaurant Website-Food-hub
    </li>
    <li class="list-group-item">
        Desktop app(C#): Waste Management System- Green Bangladesh
    </li>
    <li class="list-group-item">Java Project: University Management System</li>
    
</ul>

