
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_studentlayout.cshtml";
}

<div class="text-center">
    <h3 class="text-danger">Name:@Model.name</h3>
    <h4>Date Of Birth:@Model.dob</h4>
    <h5>CGPA:@Model.cgpa </h5>
    <p class="text-info">Are you sure Delete this information</p>
    <a href="/Student/Sure/@Model.id"><button class="btn btn-danger">I am sure</button></a>
</div>

