@model List<Labtask_3.Models.Database.Student>
@{
    ViewBag.Title = "Discount";
    Layout = "~/Views/Shared/_studentlayout.cshtml";
}
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>CGPA</th>
    </tr>
    @foreach (var b in ViewBag.name)
    {
        <tr>
            <td>@b.id</td>
            <td>@b.name</td>
            <td>@b.dob</td>
            <td>@b.cgpa</td>
        </tr>
    }

</table>

